*{
	margin: 10px;
	padding: 0;
	box-sizing: border-box;
}
body{
	max-width: 1120px;
	margin: auto;
	font-size: 18px;
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	background-color: #f6f4e8;
	justify-content: center;
	color: #1d3124;
}

a{
	color: #e59560;
}

h1{
	text-align: center;
}